# Node
node_modules/
npm-debug.log
yarn-error.log

# Angular
.angular/
dist/
tmp/

# Environment (ne pas exposer les configs sensibles)
src/environments/environment.prod.ts

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

