<div class="stats-card">
  <div class="stats-icon" [style.background]="iconBg">
    <mat-icon [style.color]="iconColor">{{ icon }}</mat-icon>
  </div>
  <div class="stats-body">
    <div class="stats-value">{{ value }}</div>
    <div class="stats-label">{{ label }}</div>
    <div class="stats-change" [class.up]="change >= 0" [class.down]="change < 0">
      <mat-icon>{{ change >= 0 ? 'trending_up' : 'trending_down' }}</mat-icon>
      {{ change >= 0 ? '+' : '' }}{{ change }}% this month
    </div>
  </div>
</div>